div.pokemon{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 3.5rem;

}

div.pokemon-item {
  img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border: 3px solid darkslategray;
    padding: 1rem;
    background-color: antiquewhite;
  }
  img:hover {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border: lightpink 3px outset;
    padding: 1rem;
    cursor: pointer;
  }
}
