div.pokemon.images{
  font-size:2rem;
  font-weight: 600;
  color:cornflowerblue;
  border-bottom: 1px solid bisque;
  font-family: "Gill Sans MT";
}


li{
  list-style-type: none;
}

li a:hover {
  color: lightseagreen;
}

div.pokemon.details{
  font-size:2rem;
  font-weight: 600;
  color:darkslategray;
  border-bottom: 1px solid bisque;
  font-family: "Gill Sans MT";
}
